# OSごとの一時ファイル
.DS_Store
Thumbs.db

# エディタごとの一時ファイル
*.swp
*.swo
*.bak

# ログファイルやキャッシュ
*.log
*.tmp
.cache/

# 環境設定ファイル
.env
*.local
*.env

# Node.js系
node_modules/
dist/

# Python系
__pycache__/
*.pyc

# ビルド成果物
build/
out/
*.csv

# Git管理に含めたい例外
!.env.example
